version: "3.9"

services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: audit_pro_seo
      POSTGRES_PASSWORD: audit_pro_seo
      POSTGRES_DB: audit_pro_seo
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
