@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --border: 214.3 31.8% 91.4%;
}

.dark {
  --border: 217.2 32.6% 17.5%;
}

body {
  margin: 0;
  min-height: 100vh;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-white text-gray-900 dark:bg-gray-950 dark:text-gray-50;
  }
}
